# Created by .gitignore support plugin (hsz.mobi)
### Java template


*.iml
!/xenon.iml

target/
data/
libs/
.classpath
.project
.settings
.DS_Store

build/
.gradle/
lib/

node_modules/
bun.lock
pnpm-lock.yaml
tsconfig.json
.prettierrc.yaml
package.json
*.ts
